<% if @data.nil? %>
  <div class="alert alert-warning w-50 mx-auto text-center">Não encontramos nenhum exame associado a esse token.</div>
<% else %>
  <p class="text-center">Exames para token <%= @data[:result_token] %></p>
  <div class="card w-50 mx-auto p-3 mb-4" id='search_results'>
    <div class="text-center">
      <h4 class="fw-light"><%= @data[:name] %></h4>
      <span class="text-muted">token da bateria de exames</span>
      <span class=""><%= @data[:result_token] %></span>
      <span class="text-muted">emissão do resultado</span>
      <span class=""><%= Date.parse(@data[:result_date]).strftime('%d/%m/%Y') %></span>
    </div>

    <div class="d-flex justify-content-between gap-1 flex-wrap mt-3">
      <div class="p-3 w-49">
        <span class="d-block text-muted">informações do paciente</span>
        <div>
          <span class="text-muted">cpf</span>
          <span class="fs-5 fw-light"><%= @data[:cpf] %></span>
        </div>
        <div>
          <span class="text-muted">email</span>
          <span class="fs-5 fw-light"><%= @data[:email] %></span>
        </div>
      </div>

      <div class="p-3 text-end w-49">
        <span class="d-block text-muted">informações do médico</span>
        <span class="d-block fs-5 fw-light"><%= @data[:doctor][:name] %></span>
        <span class="text-muted">crm</span>
        <span class="fs-5 fw-light">
          <%= @data[:doctor][:crm] %>
          <%= @data[:doctor][:crm_state] %>
        </span>
      </div>
      <% @data[:exams].each do |exam| %>
        <div class="card mt-3 w-49">
          <div class="card-body">
            <h5 class="card-title"><%= exam[:type] %></h5>
            <span class="text-muted">média</span>
            <span class=""> <%= exam[:limits] %></span>
            <span class="text-muted">resultado</span>
            <span class=""> <%= exam[:result] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
