<p class="text-center">Exames</p>
<div class="accordion shadow-sm w-50 mx-auto" id="exams-accordion">
  <% @pagination[:exams].each do |exam| %>
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= exam[:result_token] %>" aria-expanded="false" aria-controls="<%= exam[:result_token] %>">
          <span class="text-muted">paciente</span>
          <span class="ms-3 fs-5 me-3"><%= exam[:name] %></span>
        </button>
      </div>
      <div id="<%= exam[:result_token] %>" class="accordion-collapse collapse" data-bs-parent="#exams-accordion">
        <div class="accordion-body">
          <div>
            <span class="text-muted">cpf</span>
            <span class="fs-5 me-3"><%= exam[:cpf] %></span>
          </div>
          <div>
            <span class="text-muted">email</span>
            <span class="fs-5"><%= exam[:email] %></span>
          </div>
          <hr>
          <div>
            <span class="text-muted">token</span>
            <span class="fs-5"><%= exam[:result_token] %></span>
          </div>
          <div>
            <span class="text-muted">emissão do resultado</span>
            <span class="fs-5"><%= Date.parse(exam[:result_date]).strftime('%d/%m/%Y') %></span>
          </div>
          <a href="/exams?token=<%= exam[:result_token] %>" class="btn btn-sm btn-primary mt-2">ver meus exames</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pagination[:total_pages] > 1 %>
  <div class="alert d-flex justify-content-center mb-5">
    <a href="?page=<%= @pagination[:current_page] - 1 %>" class="pagination-btn">Anterior</a>

    <% (1..@pagination[:total_pages]).each do |page_number| %>
      <a href="?page=<%= page_number %>" 
        class="pagination-number 
        <%= 'active' if page_number == @pagination[:current_page] %>"
      >
        <%= page_number %>
      </a>
    <% end %>

    <a href="?page=<%= @pagination[:current_page] + 1 %>" class="pagination-btn">Próximo</a>
  </div>
<% end %>
